.CreateRoom-page {
    display: flex;
    min-height: 130vh;
    align-items: center;
    justify-content: center;
    padding: 0 10vh 0 10vh;
    margin-left: 200px;
}

.Createroom-outer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 15vh 3vh 15vh;
    margin: 10vh 0;
}

.Createroom-outer-form h3 {
    font-size: 2rem;
    padding: 1vh 0 0;
    font-weight: 600;
}

.Createroom-outer-form .form-group {
    display: flex;
    flex-direction: row;
    width: 50vh;
}

.Createroom-outer-form .form-group2 {
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.Createroom-outer-form .form-group input {
    margin: auto 1vmin;
    border: 0;
    border-bottom: 1px solid gray;
}
.form-input {
    font-size: 0.8rem;
    width: 10rem;
}

.Createroom-outer-form .form-group label {
    margin: auto 0;
}

.Createroom-outer-form .form-group h5,
.Createroom-outer-form .form-group2 h5 {
    margin-right: auto;
}

.Createroom-outer-form .form-group p {
    font-size: 0.8rem;
    margin: auto 0;
}

.create-room-btn {
    background-color: #5F45FF;
    color: #ffffff;
    border: 0;
    margin-top: 3vh;
    padding: 1.5vh 10vh;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.form-group2 textarea {
    resize: none;
}

.Createroom-outer-form .ppl-btn {
    background-color: #5F45FF;
    color: #ffffff;
    margin: auto 1vmin;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    font-family: roboto;
}

.Createroom-outer-form .categories {
    font-size: 0.8rem;
    padding: 0 1vmin;
}
.Createroom-outer-form .categories label {
    padding: 0 1px;
}

.form-group-color {
    display: flex;
    flex-direction: row;
    width: 50vh;
    justify-content: space-between;
}
.room-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vh;
}

.room-color {
    width: 20px;
    height: 20px;
}

#rc1 {
    background-color: #9F8FFF;
}

#rc2 {
    background-color: #FAB39B;
}

#rc3 {
    background-color: #9ADDE8;
}

#rc4 {
    background-color: #C0C0C0;
}

.room-color {
    cursor: pointer;
}

.bottom-msg {
    font-size: 0.8rem;
    color: #F68059;
}