.CreateRoom-page {
    display: flex;
    background-color: #FAF3F3;
    min-height: 130vh;
    align-items: center;
    justify-content: center;
    padding: 0 10vh 0 10vh;
}

.Createroom-form-header {
    font-size: 3vh;
    padding: 1vh 0 0;
    font-weight: 200;
}

.Createroom-outer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 10vmin 3vmin 10vmin;
    width: 50vh;
}

.Createroom-outer-form .form-group {
    display: flex;
    flex-direction: row;
    width: 40vh;
}

.Createroom-outer-form .form-group2 {
    display: flex;
    flex-direction: column;
    width: 40vh;
}

.Createroom-outer-form .form-group input {
    margin: auto 1vmin;
    border: 0;
    border-bottom: 1px solid gray;
}

.Createroom-outer-form .form-group label {
    margin: auto 0;
}

.Createroom-outer-form .form-group h5,
.Createroom-outer-form .form-group2 h5 {
    margin-right: auto;
}

.Createroom-outer-form .form-group p {
    font-size: small;
    margin: auto 0;
}

.create-room-btn {
    background-color: #CAD6DD;
    border: 0;
    margin-top: 3vh;
    padding: 1.5vh 10vh;
    font-weight: bold;
    font-family: "NanumGothic-Regular";
    font-size: 2vh;
    border-radius: 1.5vh;
    cursor: pointer;
}

.form-group2 textarea {
    resize: none;
}

.Createroom-outer-form .ppl-btn {
    background-color: #E1E5EA;
    margin: auto 1vmin;
    border-radius: 5;
    padding: 0;
    width: 2vmin;
}

.Createroom-outer-form .categories {
    font-size: small;
    padding: 0 1vmin;
}
.Createroom-outer-form .categories label {
    padding: 0 1px;
}

.room-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-color {
    width: 20px;
    height: 20px;
}

#rc1 {
    background-color: #FFB6B6;
}

#rc2 {
    background-color: #F8D57E;
}

#rc3 {
    background-color: #FDF76B;
}

#rc4 {
    background-color: #CCF8A8;
}

#rc5 {
    background-color: #B0DFFB;
}

#rc6 {
    background-color: #E1B0FF;
}

#rc7 {
    background-color: #B89779;
}

.room-color {
    cursor: pointer;
}