.daily-comp {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 2vmin 0 3vmin;
    border-radius: 4vmin;
}

.daily-study-comp {
    display: flex;
    flex-direction: row;
}

.daily-planner {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-top: 2vmin;
    background-color: white;
    border-radius: 5px;
    padding: 0.8vmin;
}

.daily-tenmin {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 3vmin 1vmin;
    background-color: white;
    border-radius: 5px;
}

.daily-lower-input {
    display: flex;
}

.daily-lower-input input {
    background-color: #F5F7FD;
    border-radius: 2vmin;
    border: none;
    padding: 0.5vmin 0;
    margin-top: 0.3vmin;
    margin-right: 1vmin;
    /* padding: 0.5vh 1vh; */
}

.daily-lower-input .add-button {
    background-color: #ffffff;
    color: #5F45FF;
    /* border-radius: 2vmin; */
    border: none;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 1rem;
    font-family: sans-serif;
}

.daily-todo-upper {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    max-height: 20px;
    padding: 1vmin 0;
}

.daily-todo-upper-tag {
    flex-basis: 30%;
    text-align: center;
    color: #9893B7;
}

.daily-todo-upper-content {
    flex-basis: 60%;
    text-align: center;
    color: #9893B7;
}

.daily-todo-upper span {
    font-size: small;
    font-weight: bold;
}

.daily-todo-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.daily-todo-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.377);
    padding: 0.7vmin;
}

.daily-tenmin small {
    margin: 1vmin auto;
    font-weight: bold;
    font-size: 10px;
}

.daily-todo-item-x {
    color: #F68059;
    font-size: 1rem;
    font-family: sans-serif;
    align-self: center;
}

.daily-todo-item span {
    font-size: small;
    width: 5%;
    padding-left: 1vmin;
    cursor: pointer;
    color: rgb(46, 46, 46);
}

.input-tag {
    width: 30%;
    text-align: center;
}
.input-content {
    width: 60%;
    text-align: center;
}

