.daily-comp {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 2vmin 0 3vmin;
    border-radius: 4vmin;
}

.daily-study-comp {
    display: flex;
    flex-direction: row;
}

.daily-planner { 
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-top: 2vmin;
    background-color: white;
    border-radius: 5px;
    padding: 0.8vmin;
}

.daily-tenmin {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 3vmin 1vmin;
    background-color: white;
    border-radius: 5px;
}

.daily-lower-input {
    display: flex;
}

.daily-lower-input input {
    background-color:#E1E5EA;
    border-radius: 2vmin;
    border: none;
    padding: 0.5vmin 0;
    margin-top: 0.3vmin;
}

.daily-lower-input .add-button {
    background-color: #E9B2BC;
    border-radius: 2vmin;
    border: none;
    margin-top: 0.3vmin;
    font-weight: bold;
}

.daily-todo-upper {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    max-height: 3vmin;
    padding: 1vmin 0;
}

.daily-todo-upper-tag {
    flex: 3;
    margin-left: 4vmin;
}

.daily-todo-upper-content {
    flex: 7;
    margin-left: 11vmin;
}

.daily-todo-upper span {
    font-size: small;
    font-weight: bold;
}

.daily-todo-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.daily-todo-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.377);
    padding: 0.7vmin;
}

.daily-tenmin small {
    margin: 1vmin auto;
    font-weight: bold;
    font-size: 10px;
}

.daily-todo-item-x {
    font-size: x-small;
    align-self: center;
}

.daily-todo-item span {
    font-size: small;
    width: 5%;
    padding-left: 1vmin;
    cursor: pointer;
    color:rgb(46, 46, 46);
}