.Login-signupBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login-outer-form,
.Signup-outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login-outer-form p {
    font-size: small;
    color: red;
}
