.LoginPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.Login-LoginBox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 5vh;
    margin-top: 10vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Login-outer-form,
.Signup-outer-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 400px;
}

.Login-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login-form-header h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}

.Login-form-header span {
    font-size: 0.8rem;
    color: #727272;
}

.Login-outer-form .form-group,
.Signup-outer-form .form-group {
    margin-bottom: 1vh;
}

.Login-outer-form .form-group h5,
.Signup-outer-form .form-group h5 {
    font-size: 1rem;
    font-weight: 600;
}

.Login-outer-form .form-group input,
.Signup-outer-form .form-group input {
    font-size: 1rem;
    font-weight: 100;
    width: 95%;
    border: 0;
    border-bottom: 1px solid gray;
    padding: 0 1vh;
}

.Login-outer-form button,
.Signup-outer-form button {
    background-color: #5F45FF;
    color: #ffffff;
    border: 0;
    padding: 1vh;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.Login-LoginBox .Login-signupbtn {
    background-color: #9893B7;
    text-decoration: none;
    border: 0;
    padding: 1vh;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.Login-outer-form p,
.Signup-outer-form p {
    font-size: 0.8rem;
    color: #F68059;
}
