.Main {
    display: flex;
    flex-direction: row;
}

.MainRight .small-title {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 10px;
}

/* Badge */
.aside-upper-badge {
    width: 80px;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 90px;
    margin-top: 52px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 90px;
    top: 30px;
    border-radius: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.badge-icon {
    margin-top: 50px;
}

.badge-nickname {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 40px;
}

.badge-name {
    font-size: 0.9rem;
    color: #9893b7;
}

.aside-menus {
    margin-left: 62px;
    padding-top: 30px;
    color: #9893b7;
}

.aside-bottom {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    color: rgba(152, 147, 183, 0.3);
    margin-left: 68px;
    margin-top: 100px;
}

.MainRight {
    margin-left: 260px;
    width: 100%;
}

.MainRight::-webkit-scrollbar {
    display: none;
}

.MainRight header {
    background-color: #ffffff;
    height: 14vh;
}

/* 오늘 */
.TodayComp {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: baseline;
}

.TodayComp .small-title {
    font-weight: 600;
    font-size: 0.8rem;
    color: #9893b7;
    margin-left: 60px;
    padding-right: 1rem;
}

.TodayComp .stitle {
    font-size: 0.6rem;
    color: #9893b7;
    padding-right: 0.5rem;
    font-weight: bold;
}

.TodayComp .today-percent {
    font-size: 1.1rem;
    padding-right: 1rem;
    font-weight: bold;
}

/* 가로메뉴 Section - Gongdada, Schedule */
.MainRight-menu {
    display: flex;
    flex-direction: row;
    height: 2rem;
    background-color: #ffffff;
    padding-left: 20px;
}

.MainRight-menu div {
    background-color: #f5f7fd;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 40px;
    cursor: pointer;
}

.MainRight-menu span {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    color: #9893b7;
}

/* Schedule section */
.Main-Schedule {
    display: flex;
    flex-direction: row;
    width: min-content;
}

/********** MonthlyComp **********/
.Main-MonthlyComp {
    overflow: auto;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 40px;
    padding: 20px;
    min-height: 75vh;
}

.Main-MonthlyComp::-webkit-scrollbar {
    display: none;
}

.Main-MonthlyComp .calendar-wrapper {
    width: 30vw;
    padding: 0 20px;
}

.Main-Monthly-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0px 20px 10px;
}

.Main-Monthly-inputwrapper {
    display: flex;
    flex-direction: column;
}

.Main-Monthly-inputform {
    font-size: 1rem;
    background: #f5f7fd;
    border-radius: 8px;
    margin-right: 30px;
}

.Main-Monthly-inputform .input-title {
    width: 15rem;
    border: 0;
    background: none;
    padding: 10px 20px;
}

.Main-Monthly-Btns {
    display: flex;
    flex-direction: row;
}

.Main-Monthly-Btns button {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: #5f45ff 2px solid;
    margin-right: 10px;
    color: #5f45ff;
    font-weight: 600;
}

.Main-Monthly-inputform {
    display: flex;
    flex-direction: column;
}

.Main-Monthly-changeBtn, 
.Main-Monthly-deleteBtn {
    white-space: nowrap;
}

.StudyPage .Main-MonthlyComp {/* StudyPage에서의 Monthlycomp */
    padding: 0;
    margin: 0 auto;
    width: 35vw;
}

.StudyPage .Main-MonthlyComp .calendar-wrapper {
    width: 30vw;
    padding: 0 20px;
}


/********** WeeklyComp **********/
.Main-WeeklyComp {
    width: 35vw;
    height: min-content;
    margin: 40px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 75vh;
}

.StudyPage .Main-WeeklyComp { /* StudyPage에서의 Weeklycomp */
    padding: 0;
    margin: 20px auto 0 auto;
    width: 35vw;
}

.StudyPage .Main-WeeklyComp .small-title {
    display: none;
}

.Main-WeeklyComp .small-title {
    margin: 28px 0 0 24px;
    font-size: 1rem;
    font-weight: 600;
}

.Weekly-container::-webkit-scrollbar {
    display: none;
}

.Main-WeeklyComp .DowComp {
    overflow: auto;
    flex: 1;
}
.Main-WeeklyComp .Weekly-container {
    display: flex;
    flex-direction: column;
    padding: 1vh 2vh;
    max-height: 75vh;
}

.Main-WeeklyComp .Weekly-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px;
}

.Main-WeeklyComp .Weekly-content {
    flex: 1;
    overflow: auto;
    padding: 2vh;
    margin: 0 auto;
}

.Main-WeeklyComp .Dow-wrapper {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    border-radius: 8px;
    width: 100%;
    background-color: #f5f7fd;
}

.Main-WeeklyComp .Dow-wrapper .dot {
    flex: 1;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #9f8fff;
    padding: 2.5vh 1.5vh;
    margin-right: 1vh;
    color: #ffffff;
    text-align: center;
}

.Main-WeeklyComp .Dow-wrapper .dot span {
    color: #ffffff;
    vertical-align: middle;
    margin: auto;
    font-weight: 600;
    font-size: 1rem;
}

.Main-WeeklyComp .Dow-todos {
    flex: 10;
    padding: 1vh;
}

.Main-WeeklyComp .Dow-todos-item {
    font-size: 1.5vh;
    display: flex;
}
.Main-WeeklyComp .Dow-todos-item .checkbox {
    flex: 0.5;
    align-self: center;
    justify-self: center;
}
.Main-WeeklyComp .Dow-todos-item input,
.Main-WeeklyComp .New-input-wrapper,
.Main-WeeklyComp .New-input-wrapper input {
    border: none;
    flex: 10;
    font-size: 1.5vh;
    background: none;
    margin: 0.5vh 1vh;
}
.Main-WeeklyComp .Dow-todos-item button,
.Main-WeeklyComp .New-input-wrapper .add-button {
    flex: 0.3;
    border: 0;
    background: none;
    color: #9f8fff;
    align-self: center;
    justify-self: center;
}

.Main-WeeklyComp .New-input-wrapper {
    display: flex;
    margin-top: 1vh;
    align-items: center;
    justify-items: center;
}

.Main-WeeklyComp .New-input-wrapper .new-input {
    border: none;
    flex: 10.5;
    height: 20%;
    border-bottom: 1px solid gray;
}

/* Gongdada section */
.Main-Gongdada {
    display: flex;
    flex-direction: row;
}

.Gongdada-left {
    display: flex;
    flex-direction: column;
}

/* ConcentGraph */
.Main-ConcentGraph-Wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 40px;
    padding: 20px;
}

/* Rank */
.Main-RankComp {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 40px 40px 40px 0;
    padding: 20px;
}

.Rank-wrapper {
    padding: 0 20px;
}

.what-rank {
    display: flex;
    margin-right: auto;
}

.what-rank-btn {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.Rank-study,
.Rank-play {
    min-width: 15rem;
}

.Rank-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.Rank-header p {
    margin: 0;
}

.rank-item {
    display: flex;
    flex-direction: row;
    font-size: small;
    padding-bottom: 5px;
}

.rank-item .rank-item1 {
    flex-basis: 10%;
    border-radius: 4px;
    color: #ffffff;
    width: 32px;
    height: 32px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

.rank-item .rank-item2 {
    flex-basis: 70%;
    font-size: 0.8rem;
    line-height: 35px;
    text-align: center;
}
.rank-item .rank-item3 {
    flex-basis: 10%;
    font-size: 1rem;
}

.Rank-study p,
.Rank-play p {
    font-size: small;
}

@media screen and (max-width: 840px) {
    .Main {
        padding-top: 7rem;
        width: 100vw;
    }

    .badge-contents {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
    }
    .badge-circle {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 20px;
        top: 10px;
        border-radius: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .badge-icon {
        margin-top: 30px;
        margin-left: 22px;
        padding-right: 25px;
    }
    .badge-nickname {
        width: 200px;
        height: 30px;
        overflow: hidden;
        text-overflow: hidden;
    }
    .badge-name {
        position: absolute;
        top: 25px;
        left: 110px;
    }

    .MainRight {
        margin-left: 0px;
        /* width: ; */
    }

    .MainRight header {
        width: 100vw;
        height: 20vh;
    }

    .TodayComp {
        padding-top: 6vh;
        width: 100vmax;
    }

    .Main-Gongdada {
        display: flex;
        flex-direction: column;
        width: min-content;
    }

    .Main-RankComp {
        width: min-content;
        margin-left: 30vw;
    }

    /* .StudyPage .Main-WeeklyComp .DowComp {
        width: 10px;
    } */
}
@media screen and (max-width: 1200px) {
    .Main-Schedule {
        display: flex;
        flex-direction: column;
        width: min-content;
    }
    .Main-MonthlyComp {
        width: min-content;
    }
    .Main-MonthlyComp .calendar-wrapper {
        width: 500px;
    }

    .Main-WeeklyComp {
        width: 540px;
        height: min-content;
        margin: 40px 0 40px 40px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
    }

    /* .StudyPage .Main-WeeklyComp .DowComp {
        width: 10px;
    } */
}
