.MyProfilePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
} 

.MyProfile-outer-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 50px 80px;
    margin: 5vh 0 5vh 200px;
}

.MyProfile-formgroup1 {
    display: flex;
    flex-direction: row;
    width: 300px;
}
.MyProfile-formgroup2 {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.MyProfile-formgorup1-title {
    margin-right: auto;
    width: max-content;
}

.MyProfile-formgroup2 h5 {
    margin-right: auto;
}

.MyProfile-formgorup1-title h5 {
    font-size: 1rem;
    margin-right: auto;
}

.MyProfile-formgroup1 input {
    margin: auto 1vmin;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
}

.MyProfile-formgroup1 label,
.MyProfile-formgroup2 label {
    margin: auto 0;
}

.MyProfile-formgroup1 p {
    font-size: small;
    margin: auto 0;
}

.MyProfile-formgroup2 p {
    font-size: small;
    width: max-content;
    color:rgb(131, 131, 131);
    margin-left: auto;
    margin-right: auto;
}

.MyProfile-outer-form button {
    padding: 1vh 10vh;
    border: 0;
    border-radius: 2vh;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.7rem;
}

.MyProfile-button {
    margin-top: 5vh;
    background-color: #5F45FF;
    
}

.MyProfile-backtoMain-button {
    margin-top: 2.5vh;
    background-color: #9893B7;
}

.MyProfile-formgroup2 h5 {
    margin-bottom: 1vh;
    font-size: 1rem;
}

.MyProfile-formgroup2 .likes {
    display: flex;
    flex-direction: row;
    padding: 0 2vh;
    font-size: small;
    margin-right: auto;
    margin-left: auto;
}

.MyProfile-formgroup2 .likes-group1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 8vh;
}

.MyProfile-formgroup2 .likes-group2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 840px) {
    .MyProfile-outer-form {
        margin-top: 150px;
    }
}