.RightComp-roominfo-group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.RightComp-roominfo-group2 {
    display: flex;
    flex-direction: row;
}

.RightComp-roomname {
    font-size: large;
    font-weight: bold;
}

.RightComp-roomtag {
    margin: auto 0;   
}

.RightComp-ppl {
    padding-left: 2vmin;
}

.RightComp-manner {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.RightComp-studymates {
    display: flex;
    flex-direction: row;
}

.Studymates-box3 {
    display: flex;
    flex-direction: row;
}

.Studymates-box {
    background-color: #ffffff;
    border: solid 2px;
    width: 15vmin;
    height: 10vmin;
    padding: 1vmin;
    margin: 1vmin;
    font-size: xx-small;
}