.StudyPage {
    display: flex;
    flex-direction: row;
    min-height: 100%;

    background: #f5f7fd;
    color: #1c1c21;
}

.StudyPage .LeftComp {
    flex: 2;
    min-height: 80vh;
    /* border-right: 1px solid #E9B2BC; */
    padding: 2vw 2vw;
}

.StudyPage .LeftComp .RoomInfo {
    background-color: white;
    border-radius: 8px;
    padding: 4px 24px;
}

.StudyPage .LeftComp .RoomInfo .Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.StudyPage .LeftComp .RoomInfo .Header .RoomTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.StudyPage .LeftComp .RoomInfo .Header .RoomTitle .LockIcon {
    margin-left: 4px;
    color: #c0c0c0;
}

.StudyPage .LeftComp .RoomInfo .Header h5 {
    color: #9893b7;
}

.StudyPage .LeftComp .RoomInfo p {
    font-size: 16px;
}


.StudyPage .LeftComp .RoomPpl {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.StudyPage .LeftComp .Planner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.StudyPage .LeftComp .Planner .Tenmin {
    width: 20vw;
    background-color: white;
    border-radius: 8px;
    margin-top: 2vh;
    padding: 24px 24px;
    padding-bottom: 8px;
}
.StudyPage .LeftComp .Planner h5 {
    margin: 0;
}

.StudyPage .LeftComp .Planner .Schedule {
    width: 40vw;
    background-color: white;
    border-radius: 8px;
    margin-top: 2vh;
    margin-left: 1.5vw;
    padding: 24px 24px;
}

.StudyPage .LeftComp .Planner .Schedule .Header {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
}
.StudyPage .LeftComp .Planner .Schedule .Header .Schedule-buttons {
    display: flex;
    flex-direction: row;
}

.StudyPage .LeftComp .Planner .Schedule .Header .NotSelectedBtn,
.StudyPage .LeftComp .Planner .Schedule .Header .SelectedBtn {
    justify-content: flex-start;
    border: none;
    border-radius: 2vmin;
    background-color: white;
    font-family: "DarkerGrotesque-Bold";
}

.StudyPage .LeftComp .Planner .Schedule .Header .NotSelectedBtn:hover,
.StudyPage .LeftComp .Planner .Schedule .Header .SelectedBtn:hover {
    cursor: pointer;
}

.StudyPage .LeftComp .Planner .Schedule .Header .SelectedBtn {
    color: #5f45ff;
}

.StudyPage .RightComp {
    background-color: white;
}

.StudyPage .RightComp .VideoComp,
.StudyPage .RightComp .RightComp-inner {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2vmin auto;
    padding: 3vmin;
}

.StudyPage .RightComp .VideoComp .CameraComp {
    margin: auto;
}

.StudyPage .RightComp .VideoComp .StudyStatus {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    font-size: small;
}

.StudyPage .RightComp .VideoComp .StudyStatus .undervideo-span1 {
    color: #9893b7;
    font-weight: bold;
}
.StudyPage .RightComp .VideoComp .StudyStatus .undervideo-span2 {
    color: #5f45ff;
    font-weight: bold;
}
.StudyPage .RightComp .VideoComp .StudyStatus .undervideo-span3 {
    color: #f68059;
    font-weight: bold;
}

.StudyPage .RightComp .VideoComp .StartButton,
.StudyPage .RightComp .VideoComp .EndButton {
    padding: 1.5vh 0;
    border: none;
    border-radius: 8px;
    font-family: "DarkerGrotesque-SemiBold";
    font-size: large;
}

.StudyPage .RightComp .VideoComp .StartButton:hover,
.StudyPage .RightComp .VideoComp .EndButton:hover {
    cursor: pointer;
}

.StudyPage .RightComp .VideoComp .StartButton {
    background-color: #f68059;
    color: white;
}

.StudyPage .RightComp .VideoComp .EndButton {
    border: 2px solid #fabfac;
    background-color: white;
    color: #f68059;
}

.StudyPage .RightComp .RightComp-inner {
    background-color: #f5f7fd;
    border-radius: 8px;
    width: 70%;
}

.StudyPage .RightComp .RightComp-studymates-title {
    margin: 0 auto;
    font-family: "DarkerGrotesque-ExtraBold";
    /* background-color: #5f45ff; */
}

.GoOutBtn {
    display: flex;
    background-color: white;
    border: 2px solid #5f45ff;
    color: #5f45ff;
    border-radius: 8px;

    font-family: "DarkerGrotesque-SemiBold";
    font-size: large;
    text-decoration: none;
    text-align: center;
    justify-content: center;

    padding: 1.5vh 0;
    width: 80%;
    margin: 2vh auto;

    transition: background-color 0.5s;
}

.StudyPage .RightComp .GoOutBtn:hover {
    background-color: #5F45FF;
    color: #ffffff;
}
