.StudyRoomWrapper {
    /* width: 100%; */
    margin-left: 260px;
}

.StudyRoom {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fd;
}

.StudyRoom header {
    background-color: #ffffff;
    height: 16vh;
    width: 90%;
    margin: 0 auto;
}

.StudyRoom .HeaderWrapper {
    width: 100%;
    background-color: white;
}

.StudyRoom .HeaderTop {
    display: flex;
    flex-direction: row;
    margin: 40px 0 12px;
    align-items: center;
    justify-content: space-around;
    /* background-color: pink; */
}

.StudyRoom .HeaderTop .SearchBar {
    display: flex;
    border-radius: 8px;
    width: 80%;
}

.StudyRoom .HeaderTop .SearchBar input {
    flex: 30;
    background-color: #f5f7fd;
    font-size: 2.5vh;
    font-family: "DarkerGrotesque-Bold";
    border: none;
    border-radius: 8px;
    padding: 4px 4px 8px 8px;
}

.StudyRoom .HeaderTop .SearchBar button {
    flex: 1;
    border: none;
    border-radius: 8px;
    background-color: #5f45ff;
    font-family: "DarkerGrotesque-Bold";
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StudyRoom .HeaderTop .CreateRoomBtn {
    color: #5f45ff;
    background-color: white;
    border: 3px solid #5f45ff;
    font-family: "DarkerGrotesque-Bold";
    font-size: 2.5vh;
    padding: 0 4px 4px 4px;
    margin-left: 32px;
    border-radius: 8px;
}

.StudyRoom .TagList {
    /* margin: auto; */
    display: flex;
    align-items: center;
    padding: 0 8px;
    /* justify-content: center; */
}

.StudyRoom .Tag-Item-Unselected,
.StudyRoom .Tag-Item-Selected {
    padding: 4px 12px 4px 12px;
    border: solid 1px #c4c4c4;
    margin: 12px;
    border-radius: 8px;
    font-size: 1.8vh;
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
    color: #9893b7;
}

.StudyRoom .Tag-Item-Selected {
    border: 2px solid #5f45ff;
    color: #5f45ff;
    background-color: white;
}

.StudyRoom .Room-List {
    margin: 2vh auto;
    /* padding: 5vmin; */
    background-color: white;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 90%;
    background-color: #f5f7fd;
}

.Room-List .Room-Item {
    margin: 1vh auto;
    list-style: none;
    width: 200px;
    cursor: pointer;
}

.Room-List span {
    margin: auto;
}

.Room-Item .Box {
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1vmin 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.Room-Item .Explanation {
    min-height: 80px;
    /* background-color: pink; */
    margin-top: 0.5vh;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
}

.Room-Item b {
    margin: 0.5vmin 0;
}

.Room-Item small {
    overflow-wrap: break-word;
}

.Room-Item .Explanation b {
    font-size: 1.6vmin;
}

.Room-Item .Explanation small {
    margin-top: 0.5vmin;
}
