html {
    background-color: #F5F7FD;
}

aside {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    position: fixed;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

aside p {
    font-size: 1rem;
    font-weight: 600;
}

.aside-menus p {
    cursor: pointer;
}

@media screen and (max-width: 840px) {
    /* .SideMenu-back {
        position: fixed;
        background-color: #ffffff;
        width: 100vw;
        height: 7rem;
    } */
    aside {
        position: fixed;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
        width: 100vw;
        height: 7rem;
        min-width:min-content;
        z-index: 10;
        justify-content: space-between;
    }    
    .aside-menus {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }
    .aside-menus p {
        margin-right: 20px;
    }
    .aside-bottom {
        display: none;
    }
}


/* 
.App {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "NanumGothic-Regular";
}

.App-header-belt {
    background-color: #a7bbc7;
    min-height: 3vh;
}

.App-header {
    background-color: #fff;
    min-height: 5vh;
    font-size: calc(10px + 2vmin);
}

.App-header-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.App-header-title .logo-title-login {
    flex: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmin 0;
    margin-left: 10vh;
}

.App-header-title .logo-title-nologin {
    flex: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmin 0;
}

.App-header-title .logo-title-txt {
    font-style: normal;
    text-decoration: none;
    font-size: 4vmin;
    margin-left: 2vmin;
    color: black;
    font-family: "NanumGothic-Bold";
}
.App-header-title .App-header-route {
    flex: 1;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 2.5vmin;
}

.App-header-router-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.App-header-router-wrapper .App-header-route {
    font-size: 2vmin;
    color: black;
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
}

.App-body {
    flex: 8;
    overflow: hidden;
    padding: 0;
    min-height: 80vh; 
    background-color: white;
}

.App-footer {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    background-color: #e1e5ea;
    color: #727272;
    font-size: 1.2vmin;
    font-family: "NanumGothic-Regular";
    padding: 1vmin;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.App-footer-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: center;
}

.App-footer-title p {
    margin: 2vmin 1vmin;
    font-size: 1.5vmin;
}

.App-footer-title :first-child {
    font-size: 2.5vmin;
}
*/
h1,
h2,
h3,
p,
span,
div,
input,
small,
button {
    font-family: "DarkerGrotesque-Medium";
}

@font-face {
    font-family: "DarkerGrotesque-Black";
    src: url("./constants/fonts/DarkerGrotesque-Black.ttf");
}
@font-face {
    font-family: "DarkerGrotesque-Bold";
    src: url("./constants/fonts/DarkerGrotesque-Bold.ttf");
}
@font-face {
    font-family: "DarkerGrotesque-ExtraBold";
    src: url("./constants/fonts/DarkerGrotesque-ExtraBold.ttf");
}
@font-face {
    font-family: "DarkerGrotesque-Light";
    src: url("./constants/fonts/DarkerGrotesque-Light.ttf");
}
@font-face {
    font-family: "DarkerGrotesque-Medium";
    src: url("./constants/fonts/DarkerGrotesque-Medium.ttf");
}
@font-face {
    font-family: "DarkerGrotesque-Regular";
    src: url("./constants/fonts/DarkerGrotesque-Regular.ttf");
}
@font-face {
    font-family: "DarkerGrotesque-SemiBold";
    src: url("./constants/fonts/DarkerGrotesque-SemiBold.ttf");
}