.App {
    /* text-align: center; */
    /* height: 127vh; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "NanumGothic-Regular";
}

.App-header-belt {
    background-color: #a7bbc7;
    min-height: 3vh;
}

.App-header {
    background-color: #fff;
    min-height: 5vh;
    font-size: calc(10px + 2vmin);
    /* flex: 0.5; */
}

.App-header-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}
.App-header-title .logo-title-login {
    flex: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmin 0;
    margin-left: 10vh;
}

.App-header-title .logo-title-nologin {
    flex: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmin 0;
}

.App-header-title .logo-title-txt {
    font-style: normal;
    text-decoration: none;
    font-size: 4vmin;
    margin-left: 2vmin;
    color: black;
    font-family: "NanumGothic-Bold";
}
.App-header-title .App-header-route {
    flex: 1;
    /* background-color: #727272; */
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 2.5vmin;
}

.App-header-router-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.App-header-router-wrapper .App-header-route {
    font-size: 2vmin;
    color: black;
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
}

.App-body {
    flex: 8;
    overflow: hidden;
    padding: 0;
    overflow: hidden;
    min-height: 80vh; /* 최소높이 지정 -> footer 하단에 고정 */
    background-color: white;
}

.App-footer {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    background-color: #e1e5ea;
    color: #727272;
    font-size: 1.2vmin;
    font-family: "NanumGothic-Regular";
    padding: 1vmin;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.App-footer-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: center;
}

.App-footer-title p {
    margin: 2vmin 1vmin;
    font-size: 1.5vmin;
}

.App-footer-title :first-child {
    font-size: 2.5vmin;
}

h1,
h2,
h3,
p,
span,
div,
input,
small,
button {
    font-family: "NanumGothic-Regular";
}

@font-face {
    font-family: "NanumGothic-Regular";
    src: url("./constants/fonts/NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "NanumGothic-Bold";
    src: url("./constants/fonts/NanumGothic-Bold.ttf");
}

@font-face {
    font-family: "NanumGothic-ExtraBold";
    src: url("./constants/fonts/NanumGothic-ExtraBold.ttf");
}
